
body{
    background: hsl(0, 7%, 92%);
    margin-left: 25px;
    margin-right: 200px;
}

header{
    margin-top: 100px;
}

h1{
    color: rgb(41, 40, 110);
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 58px;
}

h2{
    color: rgb(160, 25, 15);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 22px;
}

nav{
    color: rgb(26, 48, 20);
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
}
footer {
margin-top: 50px;
margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    margin-bottom: 5px;
    width: 60px;
}

.ul_ident {
    text-indent: 20px;
    font-size: 18px;
}