.colorpatterns {
color: rgb(154, 255, 71);
color: rgb(61, 208, 245);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
     color: white;
}

header{
    margin-top: 80px;
}

h1{
    
    text-align: center;
    color: rgb(61, 208, 245);
    font-size: 28px;
}


h2{
    color: rgb(61, 208, 245);
    text-align: left;
    font-size: 22px;
}
                    
h3 {
    color: rgb(154, 255, 71);
    font-size: 16px;
}

p{
    font-size: 14px;
}

ul {
    font-size: 14px;
}

li {
    margin-left: 15px;
}
.terminal {
    color: rgb(61, 208, 245);
    background-color: rgb(25, 26, 26);
}

.title1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: rgb(61, 208, 245);
    font-size: 20px;
}

.title2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
}

.title3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: rgb(154, 255, 71);
    font-size: 20px;
}

.sub-title {
    color: rgb(154, 255, 71);    
}

.bkg-tog{
    color: rgb(154, 255, 71);
    font-size: 20px;
}
.dropd {
    color: rgb(154, 255, 71);
    font-size: 14px;
}

.dropd:link {
    border-bottom: 1px solid;     
    background: rgb(37, 83, 4);
}

.home {
    color: white;
}

.navbara {
    background-color: black;
    color: rgb(154, 255, 71);
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 150px;
}

.logo {
    margin-bottom: 5px;
    width: 60px ;
}

.ul_ident {
    text-indent: 16px;
    font-size: 14px;
}

.bg-footer {
    font-size: 15px;
    color: rgb(154, 255, 71);
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


a:link {
    color: rgb(154, 255, 71);;
}

a:visited {
    color: rgb(154, 255, 71);
}

a:focus {
    border-bottom: 1px solid;
    background: rgb(47, 110, 3);
}

a:hover {
    border-bottom: 1px solid;     
    background: rgb(61, 208, 245);
    color: white;
}


a:active {
    color: rgb(154, 255, 71);
}